.button{
  height: 50px;
  border-radius: 30px;
  font-weight: 500;
  background-image: linear-gradient(30deg, #d033d2 0, #b820cc 25%, #9c01c5 50%, #7e00be 75%, #5d00b8 100%);
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
  img{
    margin-right: 8px;
  }

  &.outlined {
    background: #FFF;
    border: 1px solid #835afd;
    color: #835afd;
  }

  &:not(:disabled):hover{
    filter: brightness(0.9);
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
}